In [1]:
!pip install mysqlclient

Requirement already satisfied: mysqlclient in /usr/local/python/3.10.13/lib/python3.10/site-packages (2.2.4)

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python3 -m pip install --upgrade pip

In [2]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/python/3.10.13/lib/python3.10/site-packages (2.0.31)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/codespace/.local/lib/python3.10/site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from sqlalchemy) (3.0.3)

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python3 -m pip install --upgrade pip

In [3]:
!pip install pymongo

Requirement already satisfied: pymongo in /usr/local/python/3.10.13/lib/python3.10/site-packages (4.8.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from pymongo) (2.6.1)

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python3 -m pip install --upgrade pip

In [1]:
import pandas as pd
import sqlalchemy as db
from pymongo import MongoClient

In [2]:
engine = db.create_engine("mysql://root:root@10.0.0.60:3310/retail_db")
conn = engine.connect()

In [3]:
df_customers = pd.read_sql_query("SELECT * FROM customers limit 10", con=conn)

df_customers.head()

,customer_id,customer_fname,customer_lname,customer_email,customer_password,customer_street,customer_city,customer_state,customer_zipcode
0,1,Richard,Hernandez,XXXXXXXXX,XXXXXXXXX,6303 Heather Plaza,Brownsville,TX,78521
1,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126
2,3,Ann,Smith,XXXXXXXXX,XXXXXXXXX,3422 Blue Pioneer Bend,Caguas,PR,00725
3,4,Mary,Jones,XXXXXXXXX,XXXXXXXXX,8324 Little Common,San Marcos,CA,92069
4,5,Robert,Hudson,XXXXXXXXX,XXXXXXXXX,10 Crystal River Mall,Caguas,PR,00725

In [4]:
df_orders = pd.read_sql_query("SELECT * FROM orders limit 10", con=conn)

df_orders.head()

   order_id order_date  order_customer_id     order_status
0         1 2013-07-25              11599           CLOSED
1         2 2013-07-25                256  PENDING_PAYMENT
2         3 2013-07-25              12111         COMPLETE
3         4 2013-07-25               8827           CLOSED
4         5 2013-07-25              11318         COMPLETE

In [6]:
### Mongo DB

def get_client_mongo():
    CONNECTION_STRING = "mongodb+srv://m001-student:5izdH2ydRMmtR9Ck@sandbox.okkbl.mongodb.net/?retryWrites=true&w=majority"
    client = MongoClient(CONNECTION_STRING)
    return client

In [8]:
client = get_client_mongo()
dbname = client['retail_db']
df_orders_dict = df_orders.to_dict("records")

dbname['orders'].insert_many(df_orders_dict)

InsertManyResult([ObjectId('66ae5f09b242109ac2134ddd'), ObjectId('66ae5f09b242109ac2134dde'), ObjectId('66ae5f09b242109ac2134ddf'), ObjectId('66ae5f09b242109ac2134de0'), ObjectId('66ae5f09b242109ac2134de1'), ObjectId('66ae5f09b242109ac2134de2'), ObjectId('66ae5f09b242109ac2134de3'), ObjectId('66ae5f09b242109ac2134de4'), ObjectId('66ae5f09b242109ac2134de5'), ObjectId('66ae5f09b242109ac2134de6')], acknowledged=True)

In [11]:
mongo_orders = dbname['orders'].find({})

In [12]:
df_orders = pd.DataFrame(mongo_orders)
df_orders

,_id,order_id,order_date,order_customer_id,order_status
0,66ae5f09b242109ac2134ddd,1,2013-07-25,11599,CLOSED
1,66ae5f09b242109ac2134dde,2,2013-07-25,256,PENDING_PAYMENT
2,66ae5f09b242109ac2134ddf,3,2013-07-25,12111,COMPLETE
3,66ae5f09b242109ac2134de0,4,2013-07-25,8827,CLOSED
4,66ae5f09b242109ac2134de1,5,2013-07-25,11318,COMPLETE
5,66ae5f09b242109ac2134de2,6,2013-07-25,7130,COMPLETE
6,66ae5f09b242109ac2134de3,7,2013-07-25,4530,COMPLETE
7,66ae5f09b242109ac2134de4,8,2013-07-25,2911,PROCESSING
8,66ae5f09b242109ac2134de5,9,2013-07-25,5657,PENDING_PAYMENT
9,66ae5f09b242109ac2134de6,10,2013-07-25,5648,PENDING_PAYMENT